<style>
/* headings */
h1, h2, h3, h4 {
   padding: 0.4em;
   font-family: Arial, Helvetica, san-serif;
}

.showcase-area {
    height: 50vh;
    background: linear-gradient(
            rgba(240, 240, 240, 0.144),
            rgba(255, 255, 255, 0.336)
    ),
    url("images/background6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
}

.main-title {
    text-transform: uppercase;
    margin-top: 1.5em;
}

h1 {
   padding: 0em;
   color: black;
   text-align: center;
   font-size: 32px;
   font-family: Arial, Helvetica, san-serif;
}

/* main content */
article {
   width: auto;
   text-align: left;
}
article p {
   padding: 0 1em 1em;}


/* document-wide styles */
body {
	margin: 0 auto;
	font-family: Arial, Helvetica, san-serif;
	background-color: #d4e2eb;}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;}

.navbar {
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    height: 50px;
    z-index: 12;}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;}

.menu-items {
    order: 2;
    display: flex;}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;}

.menu-items a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: color 0.3s ease-in-out;}

.menu-items a:hover {
    color: #117964;
    transition: color 0.3s ease-in-out;}

.logo {
    order: 1;
    font-size: 2.3rem;
    margin-bottom: 0.5rem;}

#about {
    padding: 50px 0;
    background: #f5f5f7;
}

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
}

#about h2 {
    font-size: 2.3rem;
}

#about p {
    font-size: 1.2rem;
    color: #555;
}

#about .small {
    font-size: 1.2rem;
    color: #666;
    font-weight: 600;
}

.about-img {

    padding: 30px;
    transform: translateX(150%);

    animation: about-img-animation 1s ease-in-out forwards;
}

@keyframes about-img-animation {
    100% {
        transform: translate(0);
    }
}

.about-text {
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translate(-150%);
    animation: about-text-animation 1s ease-in-out forwards;
}

@keyframes about-text-animation {
    100% {
        transform: translate(0);
    }
}

.about-img img {
    display: block;
    height: 200px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
}

/* footer */
#footer h2 {
    text-align: center;
    font-size: 1.0rem;
    padding: 2.6rem;
    font-weight: 500;
    color: #fff;
    background: rgb(65, 65, 65);
}

/* small screen/tablet styles */
@media screen and (min-width: 460px), print {
   article {
      padding: 2%;
   }
   figure {
      border: 1px solid #ccc;
      padding: 2%;
      box-shadow: 0 10px 6px -6px #777;
      display: inline-block;
   }
   section {
      text-align: center;
   }
   section h3, section p {
      text-align: left;
   }
}
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
}
.topnav input[type=text] {
    border: 1px solid #ccc;  
}
/* small screen/tablet styles */
@media screen and (min-width: 460px), print {
   article {
      padding: 2%
   }
   figure {
      border: 1px solid black;
      padding: 2%
      box-shadow: 0 10px 6px -6px black;
      display: inline-block;
   }
   section {
      text-align: center;
   }
   section h3, section p {
      text-align: left;
   }
}
/* standard screen styles */
@media screen and (min-width: 880px) {
   h3 {
      float: left;
   }
   Figure {
      float: right;
      max-width: 50%;
      margin: 2% 0 2% 2%;
   }
   Section {
      padding-bottom: 2%;
   }
   .top-link {
      right: auto;
      left: 0;
   }
}
/* maximum width screen styles */
@media screen and (min-width: 1400px) {
   article div {
      width: 1260px; /* 1400 * 90% */
   }
}
/* print styles */
@media print {
   body, h1, article, footer {
      color: #000;
      background-color: #fff;
   }
   body {
      max-width: 100%
      border: 0;
   }
}
@page {
   margin: 1in;
}
</style>