body {
    font-size: 18px;
}

#navbar {
    display: none;
}

#hamburger {
    display: block;
    font-size: 30px;
    padding: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #4CAF50;
}

.navbar a {
    font-size: 18px;
    padding: 16px 18px;
}

.content {
    padding: 20px;
}
